<!-- Header Area Start -->
<header class="header-area header-sticky">
    <div class="header-container">
        <div class="row">
            <div class="col-lg-5 display-none-md display-none-xs">
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="logo text-center">
                    <a href="index.html"><img src="assets/img/logo/logo.svg" style="height: 100px;" alt="NatureCircle"></a>
                </div>
            </div>
            <div class="col-lg-5 col-sm-8">
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
<!-- Hero Area Start -->
<div class="ht-hero-section fix">
    <div class="ht-hero-slider">
        <!-- Single Slide Start -->
        <div class="ht-single-slide" style="background-image: url(assets/img/slider/1.jpg)">
            <div class="ht-hero-content-one container">
                <h3 style="color: #da1d5e; font-weight: bold;">{{ 'SLOGAN' | translate }}</h3>
                <div class="div-desc">
                    <!-- <h5 style="color: #ed9122; font-weight: bold;">{{ 'DESC' | translate }}</h5> -->
                    <h5 style="color: #4b7d01; font-weight: bold; font-size: larger; line-height: 1.6;">{{ 'DESC' | translate }}</h5>
                </div>
                
                <div class="col-12">
                    <div class="div-store-logo">
                        <div class="col-12" style="padding-top: 15px; padding-bottom: 5px;">
                            <a href="https://apps.apple.com/sa/app/%D9%81%D9%8A%D8%AA%D8%A7%D9%85%D9%8A%D9%86/id1320786710" target="_blank">
                                <img src="assets/images/app-store.svg" style="height: 55px;"/>
                            </a>				
                        </div>
                        <div class="col-12">
                            <a href="https://play.google.com/store/apps/details?id=com.vitamin.vitaminapp" target="_blank">
                                <img src="assets/images/google-play.svg" style="height: 55px;"/>
                            </a>
                        </div>
                    </div>
                </div>	
                <!-- <h1 class="cssanimation leDoorCloseLeft sequence">Savon Stories</h1>
                <p>We believe that healthy eating, clean air, and gentle character is the best start to genuine wellbeing.</p>
                <a href="shop.html" class="default-btn large circle blue hover-blue uppercase">Shop now</a> -->
            </div>
        </div>
        <!-- Single Slide End -->
    </div>
</div>
<!-- Hero Area End -->
<!-- Shop Banner Area Start -->
<div class="shop-banner-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="shop-banner-img">
                    <a href="#"><img src="assets/img/banner/1.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shop-banner-img">
                    <a href="#"><img src="assets/img/banner/2.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shop-banner-img">
                    <a href="#"><img src="assets/img/banner/3.jpg" alt=""></a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shop-banner-img">
                    <a href="#"><img src="assets/img/banner/4.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            
        </div>
    </div>
</div>
<!-- Shop Banner Area End -->
<!-- Testimonial Area Start -->
<carousel>
    <slide>
      <div class="text-center py-5 bg-light text-dark">
        <img src="assets/img/testimonial/1.jpg" class="img-circle" alt="">
        <h4>Didi Mohammed</h4>
        <div class="lead">
            <div class="slider-text">
                <span class="testi-quote">
                    <img src="assets/img/icon/quote.png" alt="">
                </span>
                <h5>تستحقوا أكثر من ٥ نجوم ..رغم ظروف الحظر الاوردر وصل قبل موعده والتغليف ممتاز وكل شيء طازج ونضيف جدا..شكرا لكم ..كان أول تعامل معكم ولن يكون الأخير وسأنشر التطبيق ليستفاد الجميع</h5>
            </div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-light text-dark">
        <img src="assets/img/testimonial/2.jpg" class="img-circle" alt="">
        <h4>aymn abu rashed</h4>
        <div class="lead">
            <span class="testi-quote">
                <img src="assets/img/icon/quote.png" alt="">
            </span>
            <h5>من أفضل التطبيقات للتوصيل.. مواعيد صحيحه... طلب يوصل كامل و مرتب... و موظفين التوصيل محترفين و ذو خلق رفيع</h5>
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center py-5 bg-light text-dark">
        <img src="assets/img/testimonial/3.jpg" class="img-circle" alt="">
        <h4>مهدي بن حريب</h4>
        <div class="lead">
            <span class="testi-quote">
                <img src="assets/img/icon/quote.png" alt="">
            </span>
            <h5>شكرا شكرا جزيلا خدمة ممتااااازة 👍👍👍👍 . هذا اول تعامل لي معكم ولن يكون الأخير . دقة الموعد في التوصيل . نوعية الخضار منتقاه بشكل ممتاز و نظيفة جدا . 🏆🥇</h5>
        </div>
      </div>
    </slide>
  </carousel>
<!-- Testimonial Area End -->
<!-- Footer Area Start -->
<footer class="footer-area">
    <!-- Footer Top Area Start -->
    <div class="footer-top bg-4 pt-120 pb-120">
        <!-- Newsletter Area Start -->
            <div class="newsletter-area">
                <div class="container text-center">
                    <div class="social-icon">
                        <a href="https://twitter.com/vitaminapp" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/Vitaminapp" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/vitamin_app" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        <!-- Newsletter Area End -->
        <!-- Service Area Start -->
        <div class="service-area pt-50">
            <div class="container">
                <div class="service-container">
                    <div class="service-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="single-service">
                                    <div class="service-image">
                                        <img src="assets/img/icon/rocket.png" alt="">
                                    </div>
                                    <div class="service-text">
                                        <h3>{{ 'FAST_DELIVERY' | translate }}</h3>
                                        <p>{{ 'FAST_DELIVERY_DETAILS' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single-service">
                                    <div class="service-image">
                                        <img src="assets/img/icon/money.png" alt="">
                                    </div>
                                    <div class="service-text">
                                        <h3>{{ 'QA' | translate }}</h3>
                                        <p>{{ 'QA_DETAILS' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single-service">
                                    <div class="service-image">
                                        <img src="assets/img/icon/support.png" alt="">
                                    </div>
                                    <div class="service-text">
                                        <h3>{{ 'CUSTOMER_SERVICE' | translate }}</h3>
                                        <p>{{ 'CUSTOMER_SERVICE_DETAILS' | translate }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service Area End -->
        <!-- Footer Widget Area Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <div class="footer-logo">
                                <a href="#"><img src="assets/img/logo/logo.svg" style="height: 100px;" alt=""></a>
                            </div>
                            <div class="footer-text">
                            <span><i class="icon icon-Phone"></i>{{'SLOGAN' | translate}}</span>
                            <span><i class="icon icon-Phone"></i>{{'MOBILE' | translate}} </span><a href="https://wa.me/966555054198" target="_blank"><span style="direction: ltr;"> {{'MOBILE_DETAILS' | translate}}</span></a>
                            <span><i class="icon icon-Mail"></i>{{'EMAIL' | translate}} </span><a href="mailto: info@vitaminapp.co" target="_blank"><span style="direction: ltr;">{{'EMAIL_DETAILS' | translate}}</span></a>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <div class="single-footer-widget">
                            <h3 class="footer-titles">{{'VITAMIN' | translate}}</h3>
                            <ul class="footer-widget-list">
                                <li><a href="#">{{ 'ABOUT' | translate }}</a></li>
                                <li><a href="#">{{ 'TERMS_CONDITIONS' | translate }}</a></li>
                            </ul>
                        </div>
                        <div style="height: 125px;">
                            <iframe src="https://maroof.sa/Business/GetStamp?bid=39901" style=" width: auto; height: 250px; overflow-y:hidden;  "  frameborder="0" seamless='seamless' scrollable="no"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3"></div>
                    <div class="col-lg-4">
                        <div class="single-footer-widget">
                            <h3 class="footer-titles">{{ 'INSTAGRAM' | translate }}</h3>
                            <div class="instagram-image">
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/1.jpg" alt=""></a>
                                </div>
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/2.jpg" alt=""></a>
                                </div>
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/3.jpg" alt=""></a>
                                </div>
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/4.jpg" alt=""></a>
                                </div>
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/5.jpg" alt=""></a>
                                </div>
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/6.jpg" alt=""></a>
                                </div>
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/7.jpg" alt=""></a>
                                </div>
                                <div class="single-insta-img">
                                    <a href="#"><img src="assets/img/instagram/8.jpg" alt=""></a>
                                </div>
                            </div>
                            <a href="https://www.instagram.com/vitamin_app" target="_blank">{{ 'FOLLOW_OUR_INSTAGRAM' | translate }}<i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget Area End -->
    </div>
    <!-- Footer Top Area End -->
    <!-- Footer Bottom Area Start -->
    <div class="footer-bottom-area pt-15 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex col-md-6">
                    <div class="footer-text-bottom">
                        <p>Copyright &copy; <a href="#">{{ 'NSCO' | translate}}</a>. {{ 'ALL_RIGHTS_RESERVED' | translate }}</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex col-md-6">
                    <div class="footer-text-bottom">
                        <p>{{ 'DEVELOPED_BY' | translate }}</p> <p>{{ 'SCIT' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area End -->
</footer>
<!-- Footer Area End -->
